

* {
	margin: 0;
	box-sizing: border-box;
}

#root {
	width: 100%;
	min-height: 100vh;
	height: max-content;
	overflow-y: auto;
	background-color: rgb(119, 138, 153);
	font-family: "Oswald", sans-serif;
	color: rgb(225, 225, 225);
	/* text-shadow: 2px 3px 5px rgba(0,0,0,0.5); */
}

#shop {
	border: 2px solid rgba(225, 225, 225, .8);
  color: rgba(225, 225, 225, 1);
	width: max-content;
	font-size: 16px;
	margin-right: 20px;
}

#shop:hover {
	background-color: rgba(105, 125, 140, .6);
}