

* {
	margin: 0;
	box-sizing: border-box;
}

#root {
	width: 100%;
	min-height: 100vh;
	height: max-content;
	overflow-y: auto;
	background-color: rgb(50, 83, 106);
	font-family: "Oswald", sans-serif;
	color: rgb(225, 225, 225);
	text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

#shop {
	border: 2px solid rgba(225, 225, 225, .8);
  color: rgba(225, 225, 225, 1);
	width: max-content;
	font-size: 16px;
	margin-right: 20px;
}

#shop:hover {
	background-color: rgba(105, 125, 140, .6);
}

.link {
	outline: none;
	text-decoration: none;
	appearance: none;
	color: inherit;
		display: flex;
		align-items: center;
		justify-content: center;
}

#arrow1, #arrow2 {
	font-size: 40px;
	position: absolute;
	margin-left: 15px;
}

.attackSlider  {
	width: 180px;
}

#cartArrow, #itemArrow {
	font-size: 50px;
}

#itemArrow {
	margin-bottom: 30px;
}

#cartCart, #cartFavorite {
	font-size: 35px;
}

#shopFavoriteItem {
	right: 15px;
	top: 15px;
	font-size: 25px;
}

#shopCartItem {
	top: 50px;
	right: 15px;
	font-size: 25px;
}
