.container {
	padding: 0px 50px 50px 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.main {
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: start;
	text-align: center;
}

.image {
	width: 350px;
}

.cartButton {
	border: none;
	background-color: rgba(0, 0, 0, .2);
	color: rgb(225, 225, 225);
	padding: 15px 25px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 10px;
	width: 85%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .7);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow:hover {
	scale: 115%;
	cursor: pointer;
}

.cartButton:active {
	box-shadow: 1px 1px 8px rgba(100, 100, 100, .1);
}

.cartButton:hover {
	scale: 105%;
}

.itemh1 {
	font-size: 45px;
}

.itemp {
	font-size: 25px;
}

.buttonContainer {
	margin-top: 20px;
}

@media (max-width: 1350px) {
	.image {
		width: 300px;
	}

	.itemh1 {
		font-size: 33px;
	}

	.itemp {
		font-size: 22px;
	}

	.cartButton {
		font-size: 20px;
		padding: 11px 18px;
	}
}

@media (max-width: 1023px) {
	.image {
		width: 200px;
	}

	.itemh1 {
		font-size: 23px;
	}

	.itemp {
		font-size: 15px;
	}

	.cartButton {
		font-size: 12px;
		padding: 8px 14px;
	}
}

.header {
	margin: 50px 25px 0px 25px;
}

@media (max-width: 900px) {
	.image {
		width: 300px;
	}

	.header {
		margin: 0px 25px 0px 25px;
	}

	.container {
		padding: 15px;
	}

	.itemh1 {
		font-size: 35px;
	}

	.itemp {
		font-size: 20px;
		word-wrap: break-word;
	}

	.cartButton {
		font-size: 20px;
		padding: 12px 20px;
	}

	.main {
		display: grid;
		gap: 10px;
	}
}

@media (max-height: 880px) and (max-width: 899px) {
	.image {
		width: 260px;
	}

	.header {
		margin: 0px 25px 0px 25px;
	}

	.container {
		padding: 0px 15px;
	}

	.itemh1 {
		font-size: 28px;
	}

	.itemp {
		font-size: 18px;
		word-wrap: break-word;
	}

	.cartButton {
		font-size: 18px;
		padding: 12px 16px;
	}

	.main {
		display: grid;
		gap: 0px;
		margin-top: -20px;
	}

	.buttonContainer {
		margin-top: 10px;
	}

	.namep {
		margin-top: -20px;
	}
}