

.header {
	width: 100%;
	display: flex;
	height: max-content;
	padding: 20px 50px;
	align-items: center;
	justify-content: space-between;
}

.leftSection {
	display: flex;
	height: max-content;
	align-items: center;
	gap: 50px;
}

.h1 {
	font-size: 40px;
	font-weight: bold;
	cursor: pointer;
}

.nav {
	display: flex;
	align-items: center;
	gap: 20px;
}

.p {
	font-size: 23px;
	margin-top: 15px;
	cursor: pointer;
	position: relative;
}

.p::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: rgba(225, 225, 225, 1);
  bottom: -7px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
}

.p:hover::before {
  transform-origin: left;
  transform: scaleX(1.4);
	margin-left: -20%;
}

.rightSection {
	display: flex;
	align-items: center;
	gap: 30px;
}

.favContainer {
	display: flex;
	align-items: center;
	gap: 20px;
}

.searchContainer {
	width: 300px;
	display: flex;
	align-items: center;
	position: relative;
}

.search {
	position: absolute;
	left: 10px;
	pointer-events: none;
	z-index: 4;
}

.input {
	width: 100%;
	outline: none;
	background-color: rgb(66, 100, 134);
	color: rgba(225, 225, 225, 1);
	font-size: 20px;
	font-weight: bold;
	box-shadow: none;
	appearance: none;
	border: none;
	padding: 13px 20px 13px 50px;
	border-radius: 25px;
	z-index: 3;
}

.input::placeholder {
	color: rgba(225, 225, 225, .6);
}

.input:hover {
	background-color:  rgb(73, 105, 141);
}

.icons {
	cursor: pointer;
}

.icons:hover {
	transform: scale(110%);
}

.dropMenu {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgb(66, 100, 134);
	width: 300px;
	border-radius: 25px;
	z-index: 1;
	padding-top: 49px;
	height: max-content;
	max-height: 350px;
	overflow: auto;
}

.dropMenu::-webkit-scrollbar {
	margin-top: 49px;
	width: 0px;
}

.dropItem {
	display: flex;
	align-items: center;
	padding: 15px;
	border-radius: 25px;
}

.dropItem:hover {
	background-color:  rgb(73, 105, 141);
	cursor: pointer;
}

.dropImage {
	width: 50px;
}

.dropText {
	font-size: 20px;
}

@media (max-width: 1279px) {
	.h1 {
		font-size: 26px;
	}

	.p {
		font-size: 15px;
		margin-top: 10px;
	}

	.input {
		padding: 10px 13px 10px 40px;
		font-size: 15px;
	}

	.input::placeholder {
		font-size: 15px;
	}

	.headerCount {
		font-size: 14px;
	}

	.dropMenu {
		padding-top: 35.5px;
		width: 250px;
		max-height: 295px;
	}

	.dropItem {
		padding: 10px;
	}

	.searchContainer {
		width: 250px;
	}
}